{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/admin-style.css'%}">

</head>
<body>
    <div class="menu-toggle" onclick="toggleSidebar()">☰ Menu</div>
    <div class="sidebar">
        <h2>Admin Dashboard</h2>
        <a href="{% url 'adminHome' %}" onclick="showSection('home')">Home</a>
        <a href="{% url 'ManageStudent' %}">Manage Students</a>
        <a href="{% url 'ManageTeacher' %}"  >Manage Teachers</a>
        <a href="{% url 'adminMgCourse' %}"  onclick="showSection('manage-courses')">Manage Courses</a>
        <a href="#" class="logout">Logout</a>
    </div>

    <div class="content">
        <div id="home" class="section active">
            <h2>Home</h2>
            <div class="stats-container">
                <div class="stat-box">
                    <h3>Total Students</h3>
                    <p>120</p>
                </div>
                <div class="stat-box">
                    <h3>Total Teachers</h3>
                    <p>15</p>
                </div>
                <div class="stat-box">
                    <h3>Total Courses</h3>
                    <p>10</p>
                </div>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <h3>Student-Teacher Ratio</h3>
                    <canvas id="studentTeacherChart"></canvas>
                </div>
                <div class="chart">
                    <h3>Students in Each Course</h3>
                    <canvas id="studentsCourseChart"></canvas>
                </div>
            </div>
        </div>
        

</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'assets/js/admin-side.js' %}"></script>
</body>
</html>
