
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/teach-style.css'%}">
</head>
<body>
        <div class="menu-toggle" onclick="toggleSidebar()">☰ Menu</div>
        <!-- Sidebar -->
        <div class="sidebar">

            <h2>Teacher Dashboard</h2>
            
            <a href="{% url 'teachHome' %}" >Home</a>
            <a href="{% url 'teacherProfile' %}" >Profile</a>
            <a href="{% url 'teachStAttendance' %}" >Attendance</a>
            <a href="{% url 'teachStMarks' %}" >Marks</a>
            <a href="{% url 'teachStStats' %}">Stats</a>
            <a href="{% url 'StudentDetail' %}" >Students</a>
            <!-- Logout option at the very bottom (only for Desktop) -->
            <a href="javascript:void(0);" class="logout">Logout</a>
           
        </div>

        <!-- Main Content -->
        <div class="main-content">
           

<div id="students" class="section">
    <h2>View Student Details</h2>
    <div class="attendance-table">
        <table>
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Class</th>
                    <th>Department</th>
                    <th>Register id</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Parent</th>
                    <th>Parent no</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody id="studentTableBody">
                {% for s in student %}
                <tr>
                    <td>{{s.name}}</td>
                    <td>{{s.Class}}</td>
                    <td>{{s.department}}</td>
                    <td>{{s.register_id}}</td>
                    <td>{{s.mobile}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.parent}}</td>
                    <td>{{s.parent_no}}</td>
                    <td>{{s.password}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
</div>
    </div>
    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>